 /* 비밀번호 찾기 상단 */
 .div1{
    margin-left: 27%;
    width:50%;
    height: 100px;
    background: rgb(13, 78, 100);
    color: orange;
}
/* 비밀번호 찾기 중간 */
.div2{
    margin-left: 27%;
    width:50%;
    height: 300px;
    background: orange;
}
/* 비밀번호찾기 하단 */
.div3{
    margin-left: 27%;
    width: 50%;
    height: 50px;
    background: rgb(13, 78, 100);
    color: orange;
}
