<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../resources/css/headerfooterLayout.css">
    <title>Find Password</title>
    <style>
        .div1{
            
            margin-left: 30%;
            width:50%;
            height: 100px;
        }
        .div2{
            margin-left: 30%;
            width:50%;
            height: 400px;
        }
        .div3{
            margin-left: 30%;
            width: 50%;
            height: 50%;
        }
    </style>
</head>
<body>
    <header>
        <nav id="nav">
            <div id="logodiv"><img id="logo" src="../resources/images/KakaoTalk_20200101_193858750.png" alt=""></div>
            <div id="navp">
                <a class="navp" href=""><span>로그인</span></a>
                <a class="navp" href=""><span>마이페이지</span></a>
            </div>
        </nav>
    </header>

    <div class="div1">
        <h1 style="text-align: center;">비밀번호 찾기</h1>
        <h4 style="text-align: left;">아이디를 입력하면 찾을수 있습니다</h4>
    </div>
    <div class="div2">
        <span><input type="text" style="text-align: center;"><button>다음 단계</button></span>
    </div>
    <div class="div3">
        <ul>
            <li>아이디를 모르시나요? &nbsp; <a href="">아이디 찾기</a></li>
        </ul>
    </div>
    <footer>

    </footer>
</body>
</html>