<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>join_3</title>
    <link rel="stylesheet" href="../resources/css/headerfooterLayout.css">
    <link rel="stylesheet" href="../resources/css/join_3.css">
    
</head>
<body>
    <!-- 헤더 시작 -->
    <header>
        <nav id="nav">
        <div id="logodiv"><img id="logo" src="../resources/images/KakaoTalk_20200101_193858750.png" alt=""></div>
        <div id="navp">
            <a class="navp" href=""><span>로그인</span></a>
            <a class="navp" href=""><span>마이페이지</span></a>
        </div>
        </nav>
    </header>

    <!-- 이 안에 작업하기 -->

    <div id="logo1"> <!--가운데 로고-->
        <a href="메인페이지.html"><img src="../resources/images/KakaoTalk_20200101_193858750.png" width="150px" height="150px">
        </a></div>

    </div>


    <div id="page"> <!--개인/업체 감싼 div-->
     <div id="person"> <!--개인-->
    <a href="회원가입개인.html"><img src="../resources/images/noun_person_2561902.png">
    </a> </div>

   <div id="store"><!--업체-->
        <a href="회원가입업소.html"><img src="../resources/images/noun_Store_850694.png">
        </a> </div>
    </div>    

    <!-- 푸터 시작 -->
    <footer>

    </footer>
</body>
</html>