<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form name="form" method="get" action="/pay.html" style="margin:0px;padding:0px" >
        <table width="780" border="0" cellspacing="0" cellpadding="0" style="background-color:#FFF">
            <tbody><tr>
                <td background="https://web.junsymall.com/efs/images/order_new/pop_top_tit_bg.jpg" height="66">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody><tr>
                            <td align="left" style="padding-left:20px;"><img src="https://web.junsymall.com/efs/images/order_new/pop_top_tit_lef.png" alt="할인쿠폰"></td>
                            <td align="right" style="padding-right:20px;"><img src="https://web.junsymall.com/efs/images/order_new/pop_top_tit_rig.png" alt=""></td>
                        </tr>
                    </tbody></table>
                </td>
            </tr>
    
            <tr><td height="40"></td></tr>
    
            <!-- 사용가능쿠폰 선택 -->
            <tr>
                <td>
                    <table width="740" border="0" cellspacing="0" cellpadding="0" align="center" class="coupon_list">
                        <colgroup>
                            <col width="25%">
                            <col width="10%">
                            <col width="10%">
                            <col width="30%">
                            <col width="25%">
                        </colgroup>
                        <tbody>
                    </tbody></table>
                </td>
            </tr>
    
            <tr>
                <td class="rb_mid" colspan="5" style="text-align:center;height:35px">
                    <strong>쿠폰번호 : 
                        <label>
                            <input type="hidden" value="ABCD-1234-ABCD-1234"/>
                            <input type="radio" name="total_price" value="0"> 
                            <span>5% 할인쿠폰</span>
                        </label>
                    </strong>
                    &nbsp;&nbsp;&nbsp;
                    <input type="hidden" name="total_apply_price" value="0">
                </td>
            </tr>
    
            <tr><td colspan="5"><table width="740" border="0" cellspacing="0" cellpadding="0" align="center" class="coupon_list"><tbody><tr><td></td></tr></tbody></table></td></tr>
            <tr><td height="20"></td></tr>
            <tr><td align="center"><a class="confirm" ><img src="https://web.junsymall.com/efs/images/order_new/pop_btn_ok.gif" alt="확인"></a>&nbsp;&nbsp;<a href="javascript:window.close(); opener.ordFrm.check_coupon.checked = false;"><img src="https://web.junsymall.com/efs/images/order_new/pop_btn_cancel.gif" alt="취소"></a></td></tr>
            <tr><td height="70"></td></tr>
            <tr><td height="40"></td></tr>
        </tbody></table>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>

     $(document).ready(function(){
        $('.confirm').on('click',function(){
            confirm(FormData)
            // name = "Hey"

            // content = "Fighting!!!"

            // location.href="pay.html?" + name + ":" + content
        })
    })
        

</script>
</html>